/* GLOBAL */

html, body, .page-wrap {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: auto;
  border: 0;
  font-size: 15px;
  font-family: 'Myriad Pro', sans-serif;
  color: black;
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}

.underline {
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a, a:hover, a:active {
  color: inherit;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll::-webkit-scrollbar-track-piece {
  background: #ccc
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-green-light);
  border-radius: 3px;
  background-clip: padding-box;
}

.grayscale-1 {
  filter: grayscale(1);
}

.custom-img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

[data-href] {
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1; /* Firefox */
}

.min-w-100 {
  min-width: 100px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.pl-10 {
  padding-left: 10px;
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.line-height-30 {
  line-height: 30px !important;
}

/*---------------------*/
.top-head-wrap {
  line-height: 40px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.menu-mobile {
  display: none;
}

.menu-mobile img {
  padding: 5px;
}

.icon-menu-mobile {
  background-color: var(--color-green-light);
}

.menu-mobile-list {
  display: block;
  position: fixed;
  top: 40px;
  left: -100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  height: 100%;
  max-width: 400px;
  min-width: 280px;
  color: #333;
  background: white;
  z-index: 1;
  padding-top: 50px;
  transition-duration: 0.3s;
}

.menu-mobile-list.active + .curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-mobile-list a {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-green-light);
}

.menu-mobile-list a img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  padding: 0;
  transition-duration: 0.3s;
}

.menu-mobile-list a[aria-expanded=true] {
  background-color: var(--color-gainsboro-2);
}

.menu-mobile-list a[aria-expanded=true] img {
  transform: rotateZ(90deg);
}

.menu-mobile-list a[aria-expanded=true] img {
}


.mobile-item-icon {
  width: 20px !important;
  height: 20px !important;
  object-fit: contain;
  margin-right: 30px;
  margin-bottom: 5px;
  display: block !important;
}

.menu-mobile-lvl-1 {
  padding: 0 15px;
  line-height: 40px;
}

.menu-mobile-lvl-1 {
  color: #333;
}

.menu-mobile-lvl-2 {
  margin-left: 15px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-weight: normal !important;
  line-height: 32px;
}

.menu-mobile-wrap-lvl-3 {
  padding-left: 15px;
}

.menu-mobile-lvl-3 {
  padding-left: 24px;
  border-left: 1px solid gainsboro;
  font-weight: normal !important;
}

.menu-mobile-list.active {
  left: 0;
}

.menu-mobile-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*---------------------*/
.top-filter-wrap {
  padding: 10px 0;
}

.top-logo {
  padding-left: 10px;
}

.top-input-filter:nth-child(1) {
  width: 50%;
}

.top-input-filter:nth-child(2):before {
  content: '';
  width: 28px;
  height: 28px;
  background-image: url("../img/icon-google-mark.png");
  background-size: cover;
  position: absolute;
  right: 15px;
  top: 7px;
  z-index: 1;
}

.top-input-filter:nth-child(2) {
  width: 35%;
  position: relative;
}

.input-filter {
  position: relative;
  border: 2px solid var(--color-orange-light);
  padding: 5px 15px 0;
  line-height: 40px;
  height: 42px;
}


.input-filter-1 {
  border-right: 1px solid transparent;
}

.input-filter-2 {
  border-left: 1px solid var(--color-gray-light);
  border-right: 1px solid var(--color-orange);
  position: relative;
}

.input-filter-2-dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  background: white;
  z-index: 3;
}

.input-filter-2-dropdown.show {
  display: block !important;
}

.input-filter-2-dropdown-item:hover {
  background-color: var(--color-gainsboro);
}

.input-filter-2-dropdown-item {
  border-bottom: 1px solid #eee;
  color: var(--color-gray-dark);
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
}

.input-filter-2-dropdown-item span {
  color: gray;
  font-size: 12px;
  flex-grow: 1;
  text-align: end;
}

.btn-icon-search,
.btn-icon-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100px;
  border-radius: 0;
  cursor: pointer;
  position: relative;
}

.btn-icon-cart:hover .cart-web-hover {
  display: block;
}

.cart-web-hover {
  display: none;
  position: absolute;
  top: 100%;
  max-width: 400px;
  right: 15px;
  transition: visibility 0s;
  transition-delay: .2s;
  z-index: 1000;
}

.cart-sp {
  box-shadow: 0 1px 50px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
  overflow: hidden;
  background-color: #fff;
  width: 400px;
}

.cart-content-title {
  padding-left: 10px;
  height: 40px;
  color: rgba(0, 0, 0, .26);
  text-transform: capitalize;
}

.cart-web-hover-item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.cart-web-item-left {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, .09);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.cart-web-item-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}

.cart-web-item-right .v-center {
  padding: 5px !important;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

#modal-rate .modal-title {
  font-size: 18px;
}

#modal-rate {
  color: var(--color-gray-dark)

}

#modal-rate .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.cart-sp-name {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

._2BMmIF {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cart-web-item-right .v-center {
  padding: 5px !important;
}

.cart-web-hover-item:hover {
  background-color: #f8f8f8;
}

.cart-web-item-footer {
  height: 40px;
  line-height: 40px;
  background-color: #fdfdfd;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.btn-solid-primary {
  background: #ff5722;
  color: #fff;
}

.num-cart-item {
  padding: 3px 3px 1px;
  background-color: #4fa305cf;
  color: white;
  position: relative;
  right: 6px;
  font-weight: normal;
}

/*---------------------*/
.nav-top-wrap {
  line-height: 40px;
}

.nav-top {
  background-color: var(--color-gainsboro);
  border-top: 1px solid #e8e9ea;
  border-bottom: 1px solid #e8e9ea;
  height: 42px;
}

.collection-wrap {
  min-width: 250px;
  position: relative;
  cursor: pointer;
  background-color: var(--color-gainsboro-2);
}

.collection-list {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  min-width: 300px;
  z-index: 2;
  background-color: white;
  color: var(--color-green-light);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.collection-item {
  position: relative;
  padding: 0px 15px;
  border-bottom: 1px solid #eee;
  color: var(--color-gray-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item:hover .collection-child {
  display: block;
  /*border-left: 2px solid var(--color-green-light);*/
}

.collection-item:hover {
  background-color: var(--color-gainsboro);
}

/*.collection-item.has-child:hover:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  bottom: 0px;*/
/*  right: -50px;*/
/*  height: 0px;*/
/*  z-index: 3;*/
/*  margin: auto;*/
/*  border-width: 25px;*/
/*  border-style: solid;*/
/*  border-color: transparent transparent transparent var(--color-green-light);*/
/*}*/

.collection-child {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 2;
  color: var(--color-gray-dark);
  background-color: white;
  width: 100%;
  min-width: 300px;
  padding: 5px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.collection-child-item {
  padding-left: 20px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.collection-child-item:before {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  height: 0;
}

.collection-child-item:hover {
  /*color: white;*/
  background-color: var(--color-gainsboro);
}

.collection-wrap .collection-list,
.nav-item .nav-child {
  display: none;
}

.nav-item.active {
  background: var(--color-green-light);
  color: white;
}

.collection-wrap:hover .collection-list,
.nav-item:hover .nav-child {
  display: block;
}

.nav-item {
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}

.nav-item .nav-child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 200px;
  z-index: 2;
  background-color: white;
  /*border-left: 2px solid var(--color-green);*/
  color: var(--color-gray-dark);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  border: 1px solid rgba(0, 0, 0, .15);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-item .nav-child-item {
  padding-left: 15px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.nav-item .nav-child-item:hover {
  background-color: var(--color-gainsboro);
  border-bottom-color: var(--color-gainsboro);
}

/*--------------------*/
.c-breadcrumb {
  border-top: 1px solid lightgray;
  height: 40px;
  font-size: 13px;
  color: #333;
}

/*--------------------*/
.section-connect-wrap .connect-item {
  position: relative;
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.section-connect-wrap .connect-title {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}

.section-connect-wrap img {
  width: 100%;
  height: 100%;
}

.section-connect {
  padding: 15px;
}

/*---------------------*/
.mid-filter {
  display: flex;
  align-items: center;
  padding: 25px 80px 25px 0;
  justify-content: space-between;
}

.mid-filter > * {
  flex-grow: 1;
  margin-left: 35px;
}

.mid-filter .btn-icon-search {
  max-width: 100px;
  height: 32px;
}

.select-white::placeholder {
  color: gray;
}

.select-white {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  padding: 10px 10px;
}

/*---------------------*/
.article-list .product-line-item {
  padding: 20px 25px;
}

.article-list .product-line-image {
  width: 85px;
  min-width: 85px;
}

.article-list .product-line-image img {
  height: 100%;
  object-fit: contain;
}

.article-list .product-line-item {
  border: none;
}

.page-item.active .page-link {
  background-color: var(--color-green-light);
  border-color: var(--color-green-light);
}

.article-list .product-line-item:nth-child(odd) {
  background-color: var(--color-gainsboro-2);
}

.page-item a {
  padding: 6px 12px 4px;
  line-height: 22px;
  color: var(--color-green-light);
}

.page-link:hover {
  color: var(--color-green-light);
}

.articles .articles-title {
  font-size: 25px;
  padding: 25px 0;
}

.articles .product-line-location {
  max-width: 150px;
  font-size: 13px;
  color: gray;
}

.articles .articles-btn {
  padding: 12px 50px 12px 15px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
}

.articles .product-line-title {
  line-height: 18px;
}

.articles .product-line-author,
.articles .product-line-price {
  font-size: 13px;
}

.supplier-list {
  display: flex;
  flex-direction: column;
}

.supplier-info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.supplier-item {
  display: flex;
  font-size: 14px;
  line-height: 18px;
}

.supplier-wrap {
  padding: 15px;
  border: 1px solid gainsboro;
  margin-top: 10px;
}

.supplier-wrap .section-name {
  font-size: 19px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 15px;
}

.supplier-list {
}

.supplier-item {
  margin-bottom: 30px;
}

.supplier-item img {
  width: 130px;
  max-height: 80px;
  object-fit: contain;
  object-position: center;
}

/*---------------------*/
.top-banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  background-color: var(--color-gainsboro);
}

.top-banner img {
  width: 100%;
  height: 100%;
}

.top-banner-left {
  grid-row: 1 / 3;
  overflow: hidden;
}

.top-banner-left .owl-stage-outer,
.top-banner-left .owl-stage,
.top-banner-left .owl-item,
.top-banner-left .item {
  height: 100%;
  width: 100%;
}

.top-banner-right {
  grid-column: 2 / 3;
}

/*-----------------------*/
.mid-collection-wrap {
  padding: 10px 0;
}

.mid-collection-title {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.js-mid-collection-item {
  padding: 25px 20px 15px;
  cursor: pointer;
}

.js-mid-collection-item.active,
.js-mid-collection-item:hover {
  background-color: var(--color-green-light);
}

/*-----------------------*/
.product-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, calc(20% - 8px));
  grid-gap: 10px;
  background-color: white;
  padding-bottom: 30px;
}

.product-item {
  height: 310px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gainsboro-light);
  border-top: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  position: relative;
  top: 0;
}

.product-item:hover {
  top: -5px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, .1);
}

.product-image {
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--color-green-light);
  height: 170px;
}

.product-info {
  flex-grow: 1;
  font-size: 14px;
  line-height: 16px;
}

.product-place {
  padding-bottom: 2px;
}

.star-list {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
}

.star-item {
  display: flex;
  padding-right: 3px;
  cursor: pointer;
}

.star-item img {
  object-fit: contain;
}

.star-item img:nth-child(even) {
  display: none;
}

.star-item.active img:nth-child(even) {
  display: block;
}

.star-item.active img:nth-child(odd) {
  display: none;
}

.product-info .cart-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/*--------------------*/
.connect-customer {
  padding-top: 20px;
  background-color: var(--color-gainsboro);
}

.connect-customer-title {
  padding: 25px 0 15px;
}

/*------------------------*/
.product-line {
}

.product-line-item {
  border-bottom: 2px solid #eeefef;
  width: 48%;
}

.product-line-image {
  width: 40%;
  max-width: 185px;
}

/*--------------------*/
.prod-faci-title {
  line-height: 60px;
}

.prod-faci-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prod-faci-item img {
  width: 160px;
  height: 105px;
  object-fit: contain;
  object-position: left top;
}

.prod-faci-item {
  width: 32%;
  background-color: white;
}

/*--------------------*/
.useful-info-wrap {
}

.useful-info-title {
  padding: 25px 0 15px;
}

/*---------------------*/
.footer-wrap {
  padding: 40px 0;
  border-top: 1px solid gainsboro;
}

.footer-title {
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.footer-item {
  font-size: 14px;
  position: relative;
  padding: 5px 0 5px 20px;
  display: block;
}

.footer-item:before {
  content: '';
  background: url("../img/icon-arrow-right-red.png");
  width: 7px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*---------------*/
.trademark {
  border-bottom: 2px solid #eeefef;
  display: grid;
  grid-gap: 12px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, 180px);
}

.trademark-item {
  padding: 10px 15px;
  background-color: white;
  border: 1px solid var(--color-gray-light);
}

.trademark-item img {
  object-fit: cover;
}

.trademark-wrap-image {
  height: 100px;
  background: url("../img/border-thuonghieu.png");
  background-size: cover;
  padding: 5px;
}

/*----------*/
.useful-title {
  border-bottom: 1px solid var(--color-green);
}

.useful-item {
  display: flex;
  align-items: center;
}

.useful-item img {
  width: 75px;
  height: 50px;
  object-fit: cover;
}

.useful-right-item {
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 8px;
}

/*----------*/
.top-full-banner {
  background-size: cover;
  border-bottom: none;
  background-repeat: no-repeat;
  height: 150px;
  background-image: url(../img/top-banner.jpg);
  position: relative;
}

.top-full-banner h1 {
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 22px;
  text-transform: uppercase;
}

.product-list--page-collection {
  grid-template-columns: repeat(auto-fit, calc(25% - 8px));
}

.sortsoffer {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

.section-top-filter {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.section-top-filter:before {
  position: absolute;
  top: 93%;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ddd;
  left: 0;
}

.section-top-filter:after {
  position: absolute;
  top: 95%;
  content: '';
  width: 100px;
  height: 2px;
  background-color: #5aa32a;
  left: 0;
}

.section-top-filter label {
  padding: 5px 0;
  margin-right: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.categories {
  border: 1px solid #eee;
}

.category-title {
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 15px 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

.category-list {
  margin-top: 10px;
}

.category-item a img {
  width: 12px;
  height: 12px;
  object-fit: contain;
  filter: grayscale(1);
  transition-duration: 0.3s;
}

.category-item a {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 5px;
}

.category-item {
  cursor: pointer;
  position: relative;
}

.category-item-icon-expand {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 15px;
  display: block;
}

.category-item-icon-expand[aria-expanded=true] img {
  transform: rotateZ(45deg);
}

.category-item-icon-expand[aria-expanded=true] ~ a {
  color: var(--color-orange);
  background-color: var(--color-gainsboro);
}

.category-item-name:hover {
  color: var(--color-orange);
  background-color: var(--color-gainsboro);
}

.category-item-list {
}

.category-item-child {
  padding: 6px 15px 6px 25px;
  line-height: 14px;
  font-size: 14px;
}

.category-item-child:hover {
  color: var(--color-orange);
}

.c-input {
  position: fixed;
  left: -9999px;
  opacity: 0;
}

.c-input[type="checkbox"] + label {
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  padding-left: 28px;
  position: relative;
  margin: 8px 0;
  line-height: 22px;
  font-weight: normal;
  margin-right: 10px;
  position: relative;
}

.c-input[type="checkbox"]:checked + label::before {
  background-color: #6cbe45;
  height: 12px;
  width: 12px;
  top: 1px;
  left: 3px;
  border: 0;
}

.c-input[type="checkbox"] + label::before,
.c-input[type="checkbox"] + label::after {
  border: 2px solid #B2B2B2;
  border-radius: 1px;
  content: "";
  height: 18px;
  left: 0;
  margin-top: 2px;
  position: absolute;
  top: -2px;
  transition: all 0.2s ease 0s;
  width: 18px;
  z-index: 0;
}

/*----------*/
.product-related-wrap .product-list-title,
.product-other-wrap .product-list-title {
  padding: 16px 0 8px;
  text-transform: uppercase;
}

.product-image-item.active img {
  border-color: var(--color-orange);
}

.product-image-item {
}

.product-image-item img {
  object-fit: contain;
  border: 2px solid transparent;
}

.product-image-list {
  max-height: 350px;
  overflow-y: scroll;
}

.product-image-featured img {
  height: 350px;
  object-position: top left;
}

.zoomWindowContainer > div {
  border: none !important;
}

.scroll-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scroll-detail .button-array {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.scroll-detail .title {
  text-align: left;
  margin: 0;
  color: #333;
  margin-top: 0px;
  font-size: 23px;
  font-weight: 500;
}

.pdp-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: var(--color-green);
}

.pdp-review-summary__divider {
  width: 1px;
  background: #9e9e9e;
  margin-left: 7px;
  margin-right: 4px;
  display: inline-block;
  height: 14px;
  vertical-align: middle;
}

.price-detail {
  color: var(--color-orange-dark);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}

.row-sx {
  margin-top: 6px;
  font-size: 14px;
}

.label-sx {
  width: 120px;
  float: left;
  font-weight: bold;
}

.group-size {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.group-size {
  margin-top: 20px;
}

.qty {
  padding: 0 2px 1px;
  height: 30px;
  border: 1px #eee solid;
  text-align: center;
  width: 40px;
  vertical-align: top;
  border-radius: 0px;
}

.items-count {
  height: 30px;
  background-color: #fff;
  border: 1px #ddd solid;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  color: #444;
  font-size: 18px;
  line-height: normal;
  line-height: normal;
}

.reduced {
  border: 1px solid #eaeaea;
  border-radius: 0;
  padding: 3px 12px 8px;
  background: #f8f8f8;
}

.increase {
  border: 1px solid #eaeaea;
  border-radius: 0;
  padding: 3px 12px 8px;
  /* background: #f8f8f8; */
}

.add .btn {
  background: var(--color-green);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: bold;
  padding: 10px 10px 10px;
  width: 100%;
  margin-top: 10px;
  border: none;
}

.action .btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: bold;
  background-color: var(--color-orange);
  padding: 10px 10px 8px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid var(--color-orange);
}

.pro-share {
  margin-top: 20px;
  padding: 10px;
  background: #f4f4f4;
  font-size: 14px;
}

.pro-share span {
  padding-left: 3px;
}

svg:not(:root) {
  overflow: hidden;
}

.pro-share .item-col-product {
  padding: 0px 15px;
}

.button-report-product:focus {
  outline: none;
  border: none;
}

.button-report-product {
  color: var(--color-orange-dark) !important;
  background: transparent;
  border: none;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.zoomLens {
  opacity: 0 !important;
}

.zb-logo-zalo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.15em;
  width: 14px;
  height: 14px;
  background: url('../img/logo_white_s.png');
}

.zb-btn-blue--20x20 {
  display: inline-block;
  background-color: #03a5fa;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.product-page-seller-info {
  margin-top: 20px;
}

.v-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 3px;
  padding: 10px;
}

.product-page-seller-info__section-1 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 340px;
  max-width: 100%;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.product-page-seller-info__header-wrapper {
  max-width: 100%;
  text-align: left;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.product-page-seller-info__section-2 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.product-page-seller-info__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-page-seller-info__header-portrait {
  text-decoration: none;
  color: rgba(0, 0, 0, .8);
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.product-page-seller-info__header-portrait > .avatar-tp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.product-page-seller-info__item__header {
  text-align: left;
  color: #000;
  font-size: 14px;
}

.product-page-seller-info__item__complement-text {
  margin-top: 8px;
  color: var(--color-gray);
  text-transform: capitalize;
  font-size: 14px;
}

.product-page-seller-info__item__primary-text {
  color: var(--color-orange-dark);
  font-size: 16px;
}

.button-array .col-md-4, .button-array .col-sm-4 {
  padding-right: 0;
}

.product-page-seller-info__item__separator {
  width: 1px;
  height: 48px;
  background-color: rgba(0, 0, 0, .09);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.avatar-tp {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .09);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.avatar__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.product-page-seller-info__header-info {
  margin-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-page-seller-info__name-status {
  text-decoration: none;
  color: rgba(0, 0, 0, .8);
  display: block;
}

.product-page-seller-info__shop-name {
  max-width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.product-page-seller-info__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.product-page-seller-info__view-shop {
  display: block;
  margin-right: 10px;
}

.btn-light {
  background: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, .09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
}

.btn--s {
  height: 34px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;
}

.btn--inline {
  display: inline-flex;
  text-transform: capitalize;
  cursor: pointer;
}

.content-product-detail .nav-tabs {
  border: 1px solid rgba(240, 240, 240, 0.7);
  background: #f6f6f6;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav > li {
  position: relative;
  display: block;
}

.content-product-detail .nav li.active a, .content-product-detail .nav li:hover a {
  list-style: none;
  background: var(--color-green-light);
}

.nav.nav-tabs li.active a, .nav.nav-tabs li:hover a {
  list-style: none;
  background-color: var(--color-green-light) !important;
}

.nav.nav-tabs li a.active {
  background-color: var(--color-green-light) !important;
  color: white !important;
}

.content-product-detail .nav-tabs > li > a {
  padding: 9px 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li:hover > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none;
  color: #fff;
}

.content-product-detail .nav-tabs > li > a {
  padding: 9px 15px;
  display: block;
  margin-right: 2px;
}

.wrap-content-product {
  line-height: 32px;
}

.pdp-mod-section-title.outer-title {
  line-height: 24px;
  background: #fafafa;
  font-size: 18px;
}

.tab-content {
  border-top: none;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
}

.product-info-detail h4 {
  line-height: 21px;
  background: #86bc42;
  padding-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.product-info-detail > div .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.product-info-detail > div > div > div {
  border-top: 1px solid #dcdcdc82 !important;
}

.fs-dtrtcmtbox {
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 15px;
}

.f-cmttarea {
  font-size: 13px;
  padding: 9px;
  width: 100%;
  /* height: 54px; */
  overflow: auto;
  line-height: 1.57;
  border: solid 1px #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
}

.qa-btn-footer {
  padding: 5px;
  text-align: right;
}

.btn-primary {
  color: #fff;
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.pdp-mod-review .mod-reviews .item {
  padding-top: 10px;
  color: gray;
  font-size: 12px;
  border-bottom: 1px solid gainsboro;
}

.f-cmname {
  font-size: 15px;
  color: #505050;
  font-weight: bold;
}

.f-cmtime {
  font-size: 13px;
  color: #9b9b9b;
  margin-left: 8px;
  float: right;
}

.f-cmmain {
  margin-left: 60px;
  display: block;
  font-size: 14px;
  line-height: 1.43;
  color: #505050;
  white-space: pre-wrap;
}

.f-cmbott {
  padding-top: 8px;
  display: block;
}

.answer-comment {
  color: var(--color-green);
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  margin-left: 60px;
}

.fs-dtrtcmtbox {
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 15px;
}

.commentAnswer {
  margin-left: 35px;
  margin: 10px 0 10px 35px;
  padding: 15px 15px 0 15px;
  background: #fff;
  border: solid 1px #e2e2e2;
}

.pdp-mod-review .mod-reviews .content {
  color: #212121;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
}

.pdp-mod-review .mod-rating {
  padding-top: 20px;
}

.pdp-mod-review .mod-rating .summary {
  float: left;
  width: 145px;
  margin-right: 90px;
  margin-bottom: 20px;
}

.summary {
  margin-top: 15px;
}

.pdp-mod-review .mod-rating .score {
  font-size: 14px;
  color: #212121;
}

.pdp-mod-review .mod-rating .score span {
  font-size: 32px;
}

.pdp-mod-review .mod-rating .average {
  margin-top: 7px;
}

.container-star {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  color: #ccc;
}

.pdp-mod-review .mod-rating .count {
  margin-top: 9px;
  color: #757575;
}

.pdp-mod-review .mod-rating .detail {
  float: left;
}

.pdp-mod-review .mod-rating .detail li {
  margin-bottom: 8px;
  color: #757575;
  font-size: 10px;
}

.pdp-mod-review .mod-rating .detail li span.star-number {
  display: inline-block;
  width: 10px;
}

.pdp-mod-review .mod-rating .detail li .progress-wrap {
  margin-left: 17px;
  margin-right: 12px;
}

.pdp-review-progress {
  display: inline-block;
  position: relative;
  width: 138px;
  height: 12px;
}

.pdp-review-progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pdp-review-progress .fg {
  background: var(--color-green);
}

.pdp-review-progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pdp-mod-review .mod-reviews .item {
  padding-top: 10px;
  color: gray;
  font-size: 12px;
}

.pdp-mod-review .mod-reviews .starCtn {
  margin-right: 6px;
}

.pdp-mod-review .mod-reviews .title {
  font-size: 14px;
  color: #212121;
  width: 740px;
  overflow: hidden;
  word-break: break-word;
}

.pdp-mod-review .mod-reviews .right {
  float: right;
}

.right {
  float: right !important;
}

.pdp-mod-review .mod-reviews .middle {
  margin: 5px 0 5px;
  font-style: italic;
  font-size: 14px;
  color: #666;
}

.pdp-mod-review .mod-reviews .middle {
  margin: 5px 0 5px;
  font-style: italic;
  font-size: 14px;
  color: #666;
}

.pdp-mod-review .mod-reviews .item {
  padding-top: 10px;
  color: gray;
  font-size: 12px;
}

.pdp-mod-review .mod-reviews .middle a {
  color: #888;
}

.pdp-mod-review .mod-reviews .content {
  color: #212121;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
}

.pdp-mod-review .mod-reviews .bottom {
  margin-top: 10px;
}

.next-btn-primary {
  border-style: solid;
  background-color: var(--color-orange);
  border-radius: 0;
  border-color: transparent;
  width: 100%;
  margin-top: 0px;
}

.pdp-mod-review .mod-rating .btn-rate {
  height: 38px;
  border-radius: 3px;
  color: white;
  padding: 0 20px;
  margin-top: 10px;
}
.pdp-review-progress .bg {
  background: #eff0f5;
}
.block-mobile {
  display: none;
}

/*modal signin*/
.tab-tab {
  line-height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  width: calc(100% + 90px);
  margin-left: -45px;
  color: white;
  cursor: pointer;
}

.tab-item.active {
  background-color: var(--color-green);
}

.modal-signin.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.76);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-signin .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto
}

.modal-signin .form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24)
}

.modal-signin .form input {
  font-family: Roboto, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px
}

.modal-signin .form button {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--color-green);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all .3 ease;
  transition: all .3 ease;
  cursor: pointer
}

.modal-signin .form button:active, .modal-signin .form button:focus, .modal-signin .form button:hover {
  background: #43a047
}

.modal-signin .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px
}

.modal-signin .form .message a {
  color: var(--color-green);
  text-decoration: none
}

.modal-signin .form .register-form {
  display: none
}

.modal-signin .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto
}

.modal-signin .container:after, .modal-signin .container:before {
  content: "";
  display: block;
  clear: both
}

.modal-signin .container .info {
  margin: 50px auto;
  text-align: center
}

.modal-signin .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a
}

.modal-signin .container .info span {
  color: #4d4d4d;
  font-size: 12px
}

.modal-signin .container .info span a {
  color: #000;
  text-decoration: none
}

.modal-signin .container .info span .fa {
  color: #ef3b3a
}

.modal-signin body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.close-popup {
  position: absolute;
  top: -25px;
  right: -25px;
  color: white;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 8px 2px gainsboro
}

.modal-custom ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

.modal-custom {
  display: none;
}

/*end modal signin*/


/*----------*/
/*----------*/
/*----------*/
/*----------*/

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .product-image-list,
  .product-image-featured img {
    max-height: 300px;
  }

  .nav-top-wrap {
    display: none;
  }

  .top-banner {
    padding-top: 0;
  }

  .top-head {
    display: flex;
    justify-content: space-between !important;
  }

  .menu-mobile {
    display: block !important;
  }

  .prod-faci-item {
    width: 49%;
  }

  .nav-list {
    display: none !important;
  }

  .nav-mobile {
    display: flex !important;
  }

  .collection-child {
    left: 50px;
    background: #cfffa4;
    top: 100%;
  }

  .collection-item.has-child:hover:before {
    left: 0;
    border-width: 10px;
    border-color: transparent transparent transparent white;
  }

  .mid-collection-list {
    display: none !important;
  }

  select.mid-collection-list {
    font-size: 12px;
    display: flex !important;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--color-green-light);
    border-radius: 4px;
    color: var(--color-green-light);
  }

  .connect-customer img {
    width: 50px;
    height: 49px;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;
  }

  .product-line-image {
    max-width: 170px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, calc(25% - 7.5px));
  }

  .product-list--page-collection {
    grid-template-columns: repeat(auto-fit, calc(33.3% - 7.5px));
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 992px) {
  .articles-wrap .col-12 {
    padding-right: 15px !important;
  }

  .mid-filter .btn-icon-search {
    margin-top: 15px;
  }

  .mid-filter {
    padding-right: 25px;
  }

  .section-connect {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between !important;
  }

  .section-connect-wrap .connect-title {
    font-size: 14px;
  }

  .product-line-item {
    width: 100%;
  }

  .top-filter-wrap .top-logo {
    width: 100px;
  }

  .trademark {
    grid-template-columns: repeat(auto-fit, 170px);
  }

  .pro-share .item-col-product {
    border-left: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .supplier-wrap {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
}

@media only screen and (min-width: 768px) {
  .w-md-95 {
    width: calc(95% + 30px) !important;
  }
}

@media only screen and (max-width: 768px) {
  .nav-tabs > li {
    border-bottom: 1px solid white;
  }
  .block-mobile {
    display: block;
  }

  .scroll-detail {
    margin-top: 15px;
  }

  .none-mobile {
    display: none;
  }

  .product-image-list {
    padding-left: 0;
  }

  .product-image-featured {
    padding-right: 0;
  }

  .product-image-list,
  .product-image-featured img {
    max-height: 250px;
  }

  .articles .product-line-location {
    max-width: 100%;
  }

  .articles .product-line-location img {
    margin-top: 2px !important;
  }

  .mid-filter > * {
    flex-grow: 1 !important;
    margin-top: 15px;
    margin-left: 25px;
    width: 100%;
  }

  .mid-filter .btn-icon-search {
    margin-top: 15px;
    width: initial;
  }

  .mid-filter {
    padding-right: 25px;
  }

  .section-connect-wrap .connect-title {
    font-size: 12px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, calc(33.3% - 7px));
  }

  .product-line-info {
    padding: 15px 0;
  }

  .footer .col-12 {
    border-bottom: 1px solid gainsboro;
  }

  .top-logo {
    order: -2;
    padding-bottom: 5px;
  }

  .btn-icon-cart {
    order: -1;
  }

  .navbar__spacer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .top-filter-and-cart {
  }

  .top-input-filter {
    flex-grow: 1;
  }

  .input-filter-1,
  .input-filter-2 {
    /*border-right: 2px solid var(--color-orange-light);*/
    /*border-left: 2px solid var(--color-orange-light);*/
    /*margin-bottom: 4px;*/
  }

  .btn-icon-search {
    width: 50px;
  }

}

@media only screen and (max-width: 576px) {
  .product-page-seller-info__shop-name {
    white-space: normal;
  }
  .product-page-seller-info__item {
    display: none;
  }
  .product-detail-wrap  {
    padding: 0 15px;
  }
  .collection-filter {
    padding: 0 15px;
  }

  .supplier-item img {
    width: 85px;
  }

  .articles .articles-title {
    font-size: 20px;
    padding: 15px 0;
  }

  .articles .articles-btn {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .article-list .product-line-image img {
    object-position: top;
  }

  .page-item a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-line-info {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px !important;
  }

  .articles-wrap {
    padding: 0 15px;
  }

  .article-list .product-line-item {
    padding: 10px;
  }

  .section-connect-wrap {
    padding: 0 15px;
  }

  .trademark-wrap {

  }

  .mid-collection-wrap,
  .connect-customer-wrap,
  .prod-faci-wrap,
  .useful-info-wrap,
  .trademark-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .top-banner {
    grid-template-rows: 2fr 1fr;
  }

  .menu-mobile {
    margin-left: 15px;
  }

  .top-input-filter:nth-child(2):before {
    width: 20px;
    height: 20px;
    top: 11px;
    right: 4px;
  }

  .product-list {
    padding: 0 15px;
    grid-template-columns: repeat(auto-fit, calc(50% - 5px));
  }

  .prod-faci-item > .d-flex {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
  }

  .prod-faci-item {
    width: 100%;
  }

  .trademark {
    grid-template-columns: repeat(auto-fit, 170px);
  }

  .top-banner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .top-banner-left {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .top-banner-right:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .top-banner-right:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .top-head-wrap {
    padding-right: 15px;
  }

  .top-filter {
    padding: 0 15px;
  }

  .page-wrap {
    background: white !important;
  }

  .top-banner-wrap {
    padding: 0 15px;
  }

  .trademark {
    grid-template-columns: repeat(auto-fit, 30%);
    grid-gap: 0;
  }

  .product-line-wrap {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 525px) {
}

@media only screen and (max-width: 425px) {
  #limiter,
  #sort-by {
    margin-bottom: 15px;
    margin-right: 0 !important;
  }

  .trademark {
    grid-template-columns: repeat(auto-fit, 48%);
    grid-gap: 5px;
  }

  .connect-customer img {
    width: 40px;
    height: 39px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .product-list {
    padding: 0 15px;
    grid-template-columns: repeat(auto-fit, 100%);
  }

  .input-filter-2-dropdown {
    left: unset;
    right: 0;
  }

  .nav-top {
  }
}
